		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">
                                <!-- Icons -->
                                <h3>Join us!</h3>
					<ul class="icons">
                            <li><a href="https://twitter.com/{{ site.twitterUsername }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/{{ site.githubUsername }}" class="icon fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="https://gitter.im/{{ site.githubUsername }}" class="icon fa-gitter"><span class="label">Gitter</span></a></li>
					</ul>
								</section>
							</div>
						</div>
						<section class="6u">
							<h3>Get In Touch</h3>
                            <p>MISP is a community-driven project lead by the community of users.</p>
                            <p>You can get in touch with the MISP core team at the following email: <a href="mailto:info@misp-project.org">info@misp-project.org</a></p>
						</section>
					</div>
				</div>

				<!-- Copyright -->
					<div class="copyright">
						<ul class="menu">
							<li>&copy; MISP project. Software released under the AGPL license and content released as CC-BY-SA.</li><li><img src="{{ site.baseurl }}/assets/images/en_cef.png</li>" /></li>
						</ul>
					</div>

			</div>

	</body>
</html>
