/* customized by us */
/* MISP logo color: #0091b0 */
:root {
  --primary-accent: #0091b0;
  --navbar-border-top: #004F61;
  --button-border: #006C83;
  --link-focus: #007A95;
  --form-shadow: rgba(0, 145, 176, 0.45);
  --pagination-bg: #CFEAF0;
  --link-hover-bg: #2AA3BB;
  --navbar-focus: #7CC9D6;
}

#content {
    font-size: 18px;
}

/* beautify tables */
#content th {
    border-bottom: solid 5px var(--primary-accent);
    line-height: 1.1;
    margin-bottom: 0;
    padding-bottom: 10px;
}
#content td, th {
    padding: 5px;
}


.navbar ul.dropdown-menu li a {
    color: #333333;
    font-size: 14px;
}

.dropdown-menu {
    opacity: 95%;
}

/* all img in blog posts are responsive */
#blog-post img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* custom pages */
.community_logo {
    float: right;
    max-width: 300px;
    max-height: 150px;
}

summary:before {
    content: "\25BA";
    margin-right: 0.25em;
}
details[open]>summary:before, details.open>summary:before {
    content: "\25BC";
}
/* delivered with example site */
.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}

ul ul {
    margin-bottom: 10px;
}
