/* customized by us */
/* MISP logo color: #00a1e0 */
:root {
  --primary-accent: #00a1e0;
  --navbar-border-top: #294d76;
  --button-border: #336194;
  --link-focus: #2f5a89;
  --form-shadow: rgba(70, 127, 191, 0.6);
  --pagination-bg: #b8cee6;
  --link-hover-bg: #36669c;
  --navbar-focus: #92b3d9;
}

#content {
    font-size: 18px;
}

/* beautify tables */
#content th {
    border-bottom: solid 5px var(--primary-accent);
    line-height: 1.1;
    margin-bottom: 0;
    padding-bottom: 10px;
}
#content td, th {
    padding: 5px;
}


.navbar ul.dropdown-menu li a {
    color: #333333;
    font-size: 14px;
} 
.navbar .yamm-content h5 {
    border-bottom: none;
}
.dropdown-menu {
    opacity: 95%;
}

/* all img in blog posts are responsive */
#blog-post img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* delivered with example site */
.box-image-text .image {
    min-height: 190px;
    max-height: 190px;
}

.box-image-text .image img {
    max-height: 190px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}
